anyio==4.9.0 ; python_version >= "3.10"
asciitree==0.3.3 ; python_version == "3.10"
bokeh==3.7.3 ; python_version >= "3.10"
bottleneck==1.5.0 ; python_version >= "3.10"
certifi==2025.4.26 ; python_version >= "3.10"
cffi==1.17.1 ; python_version >= "3.10" and platform_python_implementation == "PyPy"
cftime==1.6.4.post1 ; python_version >= "3.10"
charset-normalizer==3.4.2 ; python_version >= "3.10"
click==8.2.1 ; python_version >= "3.10"
cloudpickle==3.1.1 ; python_version >= "3.10"
colorama==0.4.6 ; python_version >= "3.10" and platform_system == "Windows"
contourpy==1.3.2 ; python_version >= "3.10"
crc32c==2.7.1 ; python_version >= "3.11"
dask==2025.5.1 ; python_version >= "3.10"
distributed==2025.5.1 ; python_version >= "3.10"
donfig==0.8.1.post1 ; python_version >= "3.11"
exceptiongroup==1.3.0 ; python_version == "3.10"
fasteners==0.19 ; python_version == "3.10" and sys_platform != "emscripten"
flox==0.10.4 ; python_version >= "3.10"
fsspec==2025.5.1 ; python_version >= "3.10"
geopandas==1.0.1 ; python_version >= "3.10"
h11==0.16.0 ; python_version >= "3.10"
h5netcdf==1.6.1 ; python_version >= "3.10"
h5py==3.13.0 ; python_version >= "3.10"
httpcore==1.0.9 ; python_version >= "3.10"
httpx==0.28.1 ; python_version >= "3.10"
idna==3.10 ; python_version >= "3.10"
importlib-metadata==8.7.0 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.6 ; python_version >= "3.10"
llvmlite==0.44.0 ; python_version >= "3.10"
locket==1.0.0 ; python_version >= "3.10"
lz4==4.4.4 ; python_version >= "3.10"
markupsafe==3.0.2 ; python_version >= "3.10"
msgpack==1.1.0 ; python_version >= "3.10"
narwhals==1.41.0 ; python_version >= "3.10"
netcdf4==1.7.2 ; python_version >= "3.10"
numba==0.61.2 ; python_version >= "3.10"
numbagg==0.9.0 ; python_version >= "3.10"
numcodecs==0.13.1 ; python_version == "3.10"
numcodecs==0.16.1 ; python_version >= "3.11"
numpy-groupies==0.11.3 ; python_version >= "3.10"
numpy==2.2.6 ; python_version >= "3.10"
opt-einsum==3.4.0 ; python_version >= "3.10"
packaging==25.0 ; python_version >= "3.10"
pandas==2.2.3 ; python_version >= "3.10"
partd==1.4.2 ; python_version >= "3.10"
pillow==11.2.1 ; python_version >= "3.10"
platformdirs==4.3.8 ; python_version >= "3.10"
pooch==1.8.2 ; python_version >= "3.10"
psutil==7.0.0 ; python_version >= "3.10"
pyarrow==20.0.0 ; python_version >= "3.10"
pycparser==2.22 ; python_version >= "3.10" and platform_python_implementation == "PyPy"
pyogrio==0.11.0 ; python_version >= "3.10"
pyproj==3.7.1 ; python_version >= "3.10"
python-dateutil==2.9.0.post0 ; python_version >= "3.10"
pytz==2025.2 ; python_version >= "3.10"
pyyaml==6.0.2 ; python_version >= "3.10"
requests==2.32.3 ; python_version >= "3.10"
scipy==1.15.3 ; python_version >= "3.10"
shapely==2.1.1 ; python_version >= "3.10"
six==1.17.0 ; python_version >= "3.10"
sniffio==1.3.1 ; python_version >= "3.10"
sortedcontainers==2.4.0 ; python_version >= "3.10"
stamina==25.1.0 ; python_version >= "3.10"
tblib==3.1.0 ; python_version >= "3.10"
tenacity==9.1.2 ; python_version >= "3.10"
toolz==1.0.0 ; python_version >= "3.10"
tornado==6.5.1 ; python_version >= "3.10"
tqdm==4.67.1 ; python_version >= "3.10"
typing-extensions==4.13.2 ; python_version >= "3.10"
tzdata==2025.2 ; python_version >= "3.10"
urllib3==2.4.0 ; python_version >= "3.10"
xarray==2025.4.0 ; python_version >= "3.10"
xxhash==3.5.0 ; python_version >= "3.10"
xyzservices==2025.4.0 ; python_version >= "3.10"
zarr==2.18.3 ; python_version == "3.10"
zarr==3.0.8 ; python_version >= "3.11"
zict==3.0.0 ; python_version >= "3.10"
zipp==3.22.0 ; python_version >= "3.10" and python_version < "3.12"
zstandard==0.23.0 ; python_version >= "3.10"
